<div class="row m-5">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
        <div class="bg-white shadow rounded p-4">
            <h1 class="display-6 text-dark text-center">Edit Order</h1>
            <hr class="bg-dark mb-5" />
            <div class="text-success text-center fs-3 mb-2" *ngIf="successMessage">{{ successMessage }}</div>
            <div class="text-danger text-center" *ngIf="errorMessage">{{ errorMessage }}</div>

            <form [formGroup]="editOrderForm" (ngSubmit)="updateOrder()">
                <input type="hidden" formControlName="clientId">

                <div class="form-group mb-3">
                    <label for="orderState">Order Status:</label>
                    <select id="orderState" class="form-control" formControlName="state">
                        <option value="CANCELED">Canceled</option>
                        <option value="OPTION">On Hold</option>
                        <option value="CONFIRMED">Confirmed</option>
                    </select>
                </div>

                <div class="d-flex justify-content-center text-center">
                    <button class="btn btn-success mx-2" type="submit" [disabled]="!editOrderForm.valid">
                        Save
                    </button>
                    <button class="btn btn-secondary mx-2" type="button" (click)="cancelUpdate()">
                        Cancel
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>