<app-header></app-header>
<div *ngIf="product" class="product-container">
    <div class="product-image">
        <img [src]="product.imageUrl" [alt]="product.name" />
    </div>

    <div class="product-details">
        <h2 class="product-title">{{ product.name }}</h2>

        <p class="product-price">
            <span>{{ product.price }}</span>
        </p>

        <div class="product-options">
            <div class="option">
                <label for="color">Color:</label>
                <div class="color-options">
                    <input type="radio" name="color" [id]="'color' + product.color" [value]="product.color"/>
                    <label [for]="'color' + product.color" class="color-option">{{ product.color }}</label>
                </div>
            </div>

            <div class="option">
                <label for="size">Size:</label>
                <div class="size-options">
                    <input type="radio" name="size" [id]="'size' + product.size" [value]="product.size"/>
                    <label [for]="'size' + product.size" class="size-option">{{ product.size }}</label>
                </div>
            </div>

            <div class="option">
                <label for="quantity">Số lượng:</label>
                <div class="quantity-control">
                    <button type="button" class="quantity-btn" (click)="decreaseQuantity()">-</button>
                    <input type="number" id="quantity" name="quantity" min="1" [value]="quantity"/>
                    <button type="button" class="quantity-btn" (click)="increaseQuantity()">+</button>
                </div>
            </div>
        </div>

        <div class="action-buttons">
            <button type="submit" class="add-to-cart" (click)="addToCart()">Add to Cart</button>
            <button type="button" class="buy-now" (click)="buyNow()">Buy Now!</button>
        </div>
    </div>
</div>

<div *ngIf="product" class="product-description">
    <div class="highlighted-title">
        <h3>Product Details</h3>
    </div>
    <p>{{ product.name }} - {{ product.category }}</p>
</div>
