<div class="flex pb-2">
  <div class="text-gray-500 text-xl flex-1">Summer Collection</div>
  <div class="block">
    <button class="flex items-center">See All
      <img src="assets/svg/right-arrow-svgrepo-com.svg" class="w-3 h-3 mx-2">
    </button>
  </div>
</div>
<section>
  <div class="w-full mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-x-4 gap-y-2">
      <div *ngFor="let item of product" class="before:content-none">
        <a [routerLink]="['/product-detail',item.id]" class="card-link">
          <div class="card-img overflow-hidden">
            <img [src]="item.imageUrl" aria-hidden="falsed" draggable="false" loading="lazy"
              class="w-full h-full object-contain">
          </div>
          <div class="card-info">
            <div class="card-infor-holder">
              <p style="overflow-wrap: anywhere;" class="stageName">
                <span class="main-Infor">{{item.name}}</span>
              </p>
              <div class="text-sm">
                ${{item.price}}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>