<div class="container mt-5">
    <h2 class="text-center">Forgot Password</h2>
    <hr />

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
            <label for="email">Email:</label>
            <input type="email" id="email" class="form-control" formControlName="email" required>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!forgotPasswordForm.valid">
                Send Reset Link
            </button>
        </div>
    </form>

    <div class="text-center mt-3">
        <p *ngIf="message" class="text-success">{{ message }}</p>
        <p *ngIf="error" class="text-danger">{{ error }}</p>
    </div>

    <div class="text-center mt-3">
        <button class="btn btn-link" (click)="navigateToLogin()">Back to Login</button>
    </div>
</div>