<div class="max-h-max mx-auto pt-10">
  <div class="overflow-hidden pt-14 isolate relative max-h-full">
    <img alt
      src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2830&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply"
      class="object-cover w-full h-full -z-10 absolute inset-0">

    <div class="container max-w-2xl mx-auto py-32 sm:py-48 lg:py-56">
      <div class="justify-center flex">
        <div class="text-slate-50">Abcxyz</div>
      </div>
      <div class="text-center">
        <h1 class="text-6xl leading-4 text-slate-50">
          Shopping
        </h1>
      </div>
    </div>
  </div>
  <h5 class="text-lg font-semibold mb-4">Collections</h5>
  <div class="content space-y-4">
    <div class="summer">
      <div>
        <app-summer-collection></app-summer-collection>
      </div>
    </div>
    <div class="winter">
      <div>
        <app-winter-collection></app-winter-collection>
      </div>
    </div>
    <div class="accessory">
      <div>
        <app-accessory-collection></app-accessory-collection>
      </div>
    </div>
  </div>