<div class="lg:w-3/12 mt-5 p-10 shadow-lg mx-auto">
    <h3 class="text-3xl text-center font-semibold py-5">Login</h3>
    <form [formGroup]="loginForm" class="flex flex-col">
        <div class="flex flex-col mt-4 mb-1">
            <input class="p-2 border border-gray-300 rounder" type="text" placeholder="Email">
            <span *ngIf="loginForm.hasError('required', 'email') && loginForm.controls['email'].dirty"
                class="text-red-500">Email is required</span>
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input class="p-2 border border-gray-300 rounder" type="text" placeholder="Password">
            <span *ngIf="loginForm.hasError('required', 'password') && loginForm.controls['password'].dirty"
                class="text-red-500">Password is required</span>
        </div>
        <div>
            <button [disabled]="loginForm.invalid" [class.disabled]="loginForm.invalid" (click)="login()"
                class="bg-indigo-500 p-2 rounded mt-3 text-white"></button>
        </div>
    </form>
    <div class="flex justify-center mt-5">
        <span>Don't have account yet?</span> <a routerLink="/register" class="text-indigo-600 ml-2 cursor-pointer">Register here</a>
    </div>
</div>