<div class="login-container">
    <h3 class="login-title">Login</h3>
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
        <div class="form-group">
            <input class="form-control" type="email" placeholder="Email" formControlName="email">
            <span *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched"
                class="error-message">Email is required</span>
            <span *ngIf="loginForm.controls['email'].hasError('email') && loginForm.controls['email'].touched"
                class="error-message">*Invalid email format</span>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" formControlName="password">
            <span *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched"
                class="error-message">*Password is required</span>
        </div>
        <div class="form-group">
            <button [disabled]="loginForm.invalid" class="btn btn-primary" type="submit">Login</button>
        </div>
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
    </form>
    <div class="register-link">
        <span>Don't have an account yet?</span>
        <br>
        <a routerLink="/auth/register" class="link">Register here</a>
    </div>
</div>
