<app-header></app-header>
<div class="container-fluid">
    <div class="container ml-1 mt-2 mr-1 mb-2">
      <h5>Collections</h5>
      <div class="content">
        <div class="summer">
            <div><a href="" >Summer collections</a></div>
            <div class="container-wrapper">
               <app-summer-collection style="display: flex;"></app-summer-collection>
            </div>
        </div>
        <div class="winter">
          <div><a href="" >Winter collections</a></div>
          <div class="container-wrapper">
               <app-winter-collection style="display: flex;"></app-winter-collection>
          </div>
        </div>
        <div class="accessory">
          <div><a href="" >Accessory</a></div>
          <div class="container-wrapper">
              <app-accessory-collection style="display: flex;"></app-accessory-collection>
          </div>
        </div>
      </div>
    </div>
</div>
