<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <form [formGroup]="myForm">
                <div class="alert alert-danger" *ngIf="err">
                    <strong>{{ err }}</strong>
                </div>
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" name="username" class="form-control" formControlName="username">
                </div>
                <span *ngIf="myForm.controls['username'].hasError('required') && myForm.controls['username'].touched"
                      class="text-danger">
          Username is required
        </span>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" name="email" class="form-control" formControlName="email">
                </div>
                <span *ngIf="myForm.controls['email'].hasError('required') && myForm.controls['email'].touched"
                      class="text-danger">
          Email is required
        </span>
                <span *ngIf="myForm.controls['email'].hasError('email') && myForm.controls['email'].touched"
                      class="text-danger">
          Invalid email
        </span>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="password" formControlName="password" class="form-control">
                </div>
                <span *ngIf="myForm.controls['password'].hasError('required') && myForm.controls['password'].touched"
                      class="text-danger">
          Password is required
        </span>
                <span *ngIf="myForm.controls['password'].hasError('minlength') && myForm.controls['password'].touched"
                      class="text-danger">
          Password must be at least 3 characters long
        </span>
                <div class="form-group">
                    <label>Confirm Password:</label>
                    <input type="password" name="confirmPassword" formControlName="confirmPassword" class="form-control">
                </div>
                <span
                        *ngIf="myForm.controls['confirmPassword'].hasError('required') && myForm.controls['confirmPassword'].touched"
                        class="text-danger">
          Confirm password is required
        </span>
                <div>
          <span
                  *ngIf="myForm.get('confirmPassword')?.touched && myForm.get('confirmPassword')?.value != myForm.get('password')?.value"
                  class="text-danger">
            Confirmed password does not match the entered password
          </span>
                </div>
                <div *ngIf="loading === true" class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <button type="button" [disabled]="myForm.invalid" class="btn btn-success"
                        (click)="onRegister()">Register</button>
                <p>Already have an account? <a routerLink="/login">Log in</a></p>
            </form>
        </div>
    </div>
</div>