<div class="register-container">
  <h2>Register</h2>
  <form [formGroup]="formRegisGroup" (ngSubmit)="regis()">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" formControlName="username" type="text" class="form-control" required />
      <div *ngIf="username?.invalid && (username?.dirty || username?.touched)"  class="error">
        Username is required
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" class="form-control" formControlName="password" required />
      <div *ngIf="!formRegisGroup.get('password')?.valid || (formRegisGroup.get('password')?.dirty)" class="error">
        <!-- check after touched -->
        <small *ngIf="formRegisGroup.get('password')?.hasError('passwordValidator') && (formRegisGroup.get('password')?.touched || formRegisGroup.get('password')?.dirty)">
          password need at least 1 uppercase letter and 1 digit
        </small>
        <!-- check before click regis but -->
        <small *ngIf="formRegisGroup.get('password')?.hasError('required') || formRegisGroup.get('password')?.hasError('minLength')">
          password is required and must be at least 8 character long
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="re-password">Confirm Password</label>
      <input id="re-password"  type="password" class="form-control" formControlName="confirmPassword" required/>
      <div *ngIf="formRegisGroup.get('confirmPassword')?.invalid"  class="error">
        confirm password is not the same
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" class="form-control"required />
      <div *ngIf="!email.valid"  class="error">
        <!-- check before click regis -->
        <small *ngIf="email?.hasError('required')" >
            please enter an email
        </small>
        <!-- check after input finish -->
        <small *ngIf="email?.hasError('email') && (email.touched || email.dirty)">
            check your email again
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input maxlength="11" id="phone" formControlName="phone" type="number" class="form-control" required />
      <div *ngIf="!phone?.valid"  class="error">
        <small *ngIf="phone.hasError('required')">
          please enter a phone
        </small>
        <small *ngIf="phone.hasError('maxLength') || phone.hasError('minLength')" >
          phonenumber only have 11 digit
        </small>
        <small *ngIf="phone.hasError('phoneValidator')">
          please check your number again
        </small>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="triggerValidator()">Register</button>
  </form>
</div>
