<app-header></app-header>
<div class="container-fluid">
    <div class="container ml-5 mt-2 mr-5 mb-2">
      <h5 class="text-lg font-semibold mb-4">Collections</h5>
      <div class="content space-y-4">
        <div class="summer">
            <div><a href="" class="text-blue-500 hover:underline">Summer collections</a></div>
            <div class="container-wrapper flex">
               <app-summer-collection class="flex"></app-summer-collection>
            </div>
        </div>
        <div class="winter">
          <div><a href="" class="text-blue-500 hover:underline">Winter collections</a></div>
          <div class="container-wrapper flex">
               <app-winter-collection class="flex"></app-winter-collection>
          </div>
        </div>
        <div class="accessory">
          <div><a href="" class="text-blue-500 hover:underline">Accessory</a></div>
          <div class="container-wrapper flex">
              <app-accessory-collection class="flex"></app-accessory-collection>
          </div>
        </div>
      </div>
    </div>
</div>
