<!-- Shopping cart -->
<div class="border-green-500 border-opacity-0 hover:border-opacity-100 duration-200 cursor-pointer">
    <button id="dropdownBtn" data-dropdown-toggle="dropdown" type="button"
        class="relative inline-flex items-center px-2 py-1.5">
        <fa-icon [icon]="'shopping-cart'" class="text-slate-800 fa-lg"></fa-icon>
        <div
            class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">
            {{ (cartItems$ | async)?.length || 0 }}</div>
    </button>
    <div id="dropdown"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 ease-in-out duration-1000">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <div *ngIf="(cartItems$ | async)?.length === 0" class="px-4 py-2 h-[200px]">
                <p class="text-lg text-center">Cart empty</p>
                <button>
                    <fa-icon [icon]="'add'"></fa-icon>
                </button>
            </div>
            <li *ngFor="let item of cartItems$ | async">
                <a href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white overflow-auto">
                    {{ item.name }} - {{ item.quantity }}
                </a>
            </li>
        </ul>
    </div>
</div>